*{
    background-color: black;
    color: white;
    border-color: white;
    text-align: center;
}
.entire{
    margin-inline: auto;
    padding-bottom: 50px;
    max-width: 600px;
    outline: 1px solid white;
}
.container{
    padding-top: 30px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.operators{
    display: flex;
    flex-direction: column;
}
button{
    width: 100px;
    height: 100px;
    font-size: 50px;
}
.board{
    height: 200px;
    margin-inline: 100px;
    overflow: hidden;
    background-color: gray;
}
.feedback{
    background-color: black;
    font-size: 30px;
    color: red;
}
.pre{
    text-align: right;
    background-color: gray;
    font-size: 50px;
    margin: 0;
    padding-top: 10px;
    padding-right: 30px;
}
.display{
    background-color: gray;
}
